body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    background-size: cover;
    /* 模糊度 */
    backdrop-filter: blur(50px);
    overflow: hidden;
}
.upper-container{
    height: 80%;
    padding-left: 10%;
}
.record-container{
    width: 50%;
    height: 100%;
    float: left;
    /* margin-top: 3%; */
    padding-top: 20px;
}
.record-bg{
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record-img{
    width: 250px;
    height: 250px;
    background-image: url('./../img/record0.jpg');  /* 改图片 */
    background-size: 100% 100%;
    border-radius: 250px;
}
/* 歌曲名部分 */
.introduction-container{
    color: white;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.music-title{
    font-size: 4rem;
}
.author-container{
    font-size: 2rem;
}
.bottom-container{
    height: 20%;
    padding: 0 30px;
}
/* 进度条 */
.progress{
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 25px;
}
/* 进度条播放部分 */
.progress-play {
  width: 0%;
  height: 100%;
  background-color: green;
  transition: width 0.1s linear;
}

/* 进度条悬停效果 */
.progress:hover {
  height: 6px;
  cursor: pointer;
}

.progress:hover .progress-play {
  height: 100%;
}

/* 播放按钮状态样式 */
.icon-play {
  background-image: url('./../img/继续播放.png') !important;
}

.icon-pause {
  background-image: url('./../img/暂停.png') !important;
}

/* 列表项选中状态 */
.musiclists .active {
  background-color: green !important;
  color: white;
}

.controls{
    display: flex;
    justify-content: space-between;
}
.left{
    color: #fff;
    font-weight: 300;
}
.center{
    width: 40%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-icon{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
}
.center-icon:hover{
    opacity: 0.7;
}
.center-icon:active{
    opacity: 0.6;
}
#playMode{
    background-image: url("./../img/mode1.png");
    background-size: 100% 100%;
}
#before-music{
    background-image: url("./../img/上一首.png");
    background-size: 100% 100%;
}
#playPause{
    width: 50px;
    height: 50px;
    /* background-image: url("./../img/继续播放.png");
    background-size: 100% 100%; */
}
.icon-play{
    background-image: url("./../img/继续播放.png");
    background-size: 100% 100%;
}
.icon-pause{
    background-image: url("./../img/暂停.png");
    background-size: 100% 100%;
}
#last-music{
    background-image: url("./../img/下一首.png");
    background-size: 100% 100%;
}
#volumn{
    background-image: url("./../img/音量.png");
    background-size: 100% 100%;
}
/* 音量条 */
#volumn-togger{
    width: 100px;
    height: 8px;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(91, 91, 91);
}
#volumn-togger::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 8px;
    border-radius: 50%;
    background: #7BD1A1;
    border: 4px solid #fff;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #7BD1A1;
}

/* 右边按钮 */
.right{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-icon:hover{
    opacity: 0.7;
}
.bottom-icon:active{
    opacity: 0.6;
}
#MV{
    background-image: url("./../img/MV.png");
    background-size: 100% 100%;
}
#list{
    background-image: url("./../img/列表.png");
    background-size: 100% 100%;
}
#speed{
    color: #fff;
}
#speed:hover{
    opacity: 0.7;
}

/* 唱片旋转 */
.rotate-play{
    animation: rotateAni 10s infinite linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}
@keyframes rotateAni {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* 列表 */
.close-list{
    display: none;
    width: 75%;
    height: 100%;
    /* background-color: pink; */
    position: fixed;
    top: 0;
    left: 0;
}
.music-container{
    display: none;
    height: 100%;
    width: 25%;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 30px;
}
.musicList-title{
    font-size: 50px;
}
.musiclists{
    font-size: 30px;
}
.musiclists div{
    padding: 7px 0;
}
.musiclists div:hover{
    background-color: rgb(71,69,69);
}
.list-show{
    animation: showAni 1s;
    animation-fill-mode: forwards;
}
.list-hide{
    animation: hideAni 1s;
    animation-fill-mode: forwards;
}
@keyframes showAni {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes hideAni {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}